pipeline/if_Example_With_Complex_Condition_KN.json
{
	"name": "if_Example_With_Complex_Condition_KN",
	"properties": {
		"activities": [
			{
				"name": "Fetch Customer Count",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT COUNT(*) AS RecordCount FROM SalesLT.Customer",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AddressData_SQL_DS_KN",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Check customer Count",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Fetch Customer Count",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('Fetch Customer Count').output.firstRow.RecordCount,500)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copy the Customer data",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "SQL_DB_Customer_DS",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ADLS_CSV_Generic_DS_KN",
									"type": "DatasetReference",
									"parameters": {
										"folderName": "Customer"
									}
								}
							]
						},
						{
							"name": "Execute nested Pipeline For Product",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Copy the Customer data",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "nested_Pipeline_KN",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2025-07-22T17:54:10Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}