pipeline/Ingestion_Product_Addres_To_JSON_Ankumar.json
{
	"name": "Ingestion_Product_Addres_To_JSON_Ankumar",
	"properties": {
		"description": "Create a pipeline name 'Ingestion_Product_Addres_To_JSON' which will copy all the product records as JSON only if total number of records >10. After that check total record count in address table if they are greater than 100 then copy the adress table data as CSV in ADLS.",
		"activities": [
			{
				"name": "Get Number Of records",
				"description": "Get Number Of records >10",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select count(*) as NumberOfRecord from [SalesLT].[Product]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQLDatasetankumar",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Number Of records",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('Get Number Of records').output.firstRow.NumberOfRecord,10)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copy Product To JSON",
							"description": "copy all the product records as JSON only if total number of records >10",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "SQLDSProducts",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "JsonDSankumar",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "For Address Table check",
							"description": "After that check total record count in address table if they are greater than 100 then copy the adress table data as CSV in ADLS.",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Copy Product To JSON",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "ChildPipelineForAddressTable",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2025-07-15T10:56:22Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}